<h1>Schrittzähler Challenge</h1>
<p-table [value]="groups">
    <ng-template pTemplate="header">
        <tr>
            <th>Rang</th>
            <th>Gruppe</th>
            <th>Σ Schritte</th>
            <th>Ø Schritte</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-group>
        <tr>
            <td>{{group.rank}}</td>
            <td>{{group.name}}</td>
            <td>{{group.totalSteps}}</td>
            <td>{{group.averageSteps}}</td>
        </tr>
    </ng-template>
</p-table>
<button id="bEnterSteps" type="button" pButton class="bHome" style="margin: 5px;" (click)="navigate('enter-steps')">Schritte erfassen</button>
<button type="button" pButton class="bHome" style="margin: 5px;" (click)="navigate('my-statistics')">Meine Statistik</button>
